*{
    font-family: lobstar;
   
}

.certificate{
    text-align: center;
    margin-left: 28%;
    color: white;
    background-color: black;
    font-size: 30px;
    width: 35%;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}
.form-div{
    border: solid 1px gray;
    padding: 30px 30px 30px 30px;
    /* margin: 20px 20px 20px 20px; */
    width: 110%;
    margin-left: -50px;
}





@media screen and (max-width: 700px){
    .form-div{
        border: solid 1px gray;
        padding: 30px 30px 30px 30px;
        /* margin: 20px 20px 20px 20px; */
        width: 100%;
        margin-left: -0px;
    }
    
    .certificate{
        text-align: center;
        margin-left: 23%;
        color: white;
        background-color: black;
        font-size: 25px;
        width: 55%;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 30px;
        text-align: center;
    }


}